
<!DOCTYPE html>

<html lang="en">

  <head>    
    <link rel = "stylesheet" href = "../static/css/style1_home.css" />

   <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>


    <script src="../static/js/script1_scroll.js"></script>


    <!-- favicon -->



    <link rel="icon" href="../static/dogwalk/data/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/dogwalk/data/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/dogwalk/data/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/dogwalk/data/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/dogwalk/data/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/dogwalk/data/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/dogwalk/data/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/dogwalk/data/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/dogwalk/data/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/dogwalk/data/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/dogwalk/data/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/dogwalk/data/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/dogwalk/data/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/dogwalk/data/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/css/dogwalk/data/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/dogwalk/data/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- 문서 정보-->

    <title>놀멍쉬멍 산책하멍</title> 

    <meta name = "author" content = "박희정, 성미래, 이해현" />
    <meta name = "description" content = "댕댕이 산책코스 추천 서비스" />
    <meta name = "keywords" content = "산책, 산책추천, 강아지산책, 강아지동반, 강아지" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



  </head>


  
  <body>



    <!-- 페이지 제목 -->
    <header>
      <a href="html1_home.html">
        <img src="../static/dogwalk/data/walkingdog.png" title="WALKINGDOG"/></a>
      <nav>
    		<ul>
    			<span><a href="html2_search.html">Search</a></span>
    			<span><a href="html3_about.html">About</a></span>
    			<span><a href="html4_team.html">Team</a></span>
    		</ul>
    	</nav>
    </header>
  

    <!-- audio -->
<div id="myAudio">
    <audio  controls autoplay preload="auto" onloadstart= " this . volume = 0.5 ">
      <source src="../static/dogwalk/data/sanpo.mp3" type="audio/mpeg">
    </audio>
  </div>

    

    <!-- scroll magic -->
        
<div class="">
    <div class="container_scroll">
      <h1 class="animate animate_1">SCROLL DOWN🖱️</h1>
      <div class="trigger trigger_1"></div>
    </div>

    <div class="container_text">
      <span class="animate animate_2">난 ㄱr끔 공원을 달린⊂ト...</span>
      <div class="trigger trigger_2"></div>
    </div>

    <div class="container_text">
      <span class="animate animate_3">
        ㄱr끔은...  ㅈΓ유를 え占을 수 없는</br>
        Łйㄱr 별루⊂ト,,
      </span>
      <div class="trigger trigger_3"></div>
    </div>

    <div class="container_text">
      <span class="animate animate_4">
        □占○l ㅇrㅍrnㅓ</br>
        소己l치며 달릴 수 있⊂ト는건 좋은つㅓ○F..
      </span>
      <div class="trigger trigger_4"></div>
    </div>

    <div class="container_img">
      <div class="animate animate_5"><img src="../static/dogwalk/data/runningdog.gif"></div>
      <div class="trigger trigger_5"></div>
    </div>

    
    <div class="container_text2">
      <span class="animate animate_6">
        가쟈 달리러!!</br>
      </span>
      <div class="trigger trigger_6"></div>
    </div>

    <div class="container_text2">
      <span class="animate animate_7">
        ㅇㅏ니.. 산책하러!!</br>
      </span>
      <div class="trigger trigger_7"></div>
    </div>

    <div class="container_img">
      <div class="animate animate_8"><img src="../static/dogwalk/data/walking.gif"></div>
      <div class="trigger trigger_8"></div>
    </div>


    <div class="container_img">
      <span class="animate animate_9">
        <a href="html2_search.html">
          <img src = "../static/dogwalk/data/play.png"></a>
          <h6>🖱️click!</h6>
        </span>
      <div class="trigger trigger_9"></div>
    </div>


  </div>


  <footer>
    Copyright (c) WALKINGDOGS All Rights Reserved.
  </footer>

</html>