
<!DOCTYPE html>

<html lang="en">

  <head>


    <!-- favicon -->



    <link rel="icon" href="../static/dogwalk/data/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="../static/dogwalk/data/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../static/dogwalk/data/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../static/dogwalk/data/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../static/dogwalk/data/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../static/dogwalk/data/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../static/dogwalk/data/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../static/dogwalk/data/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../static/dogwalk/data/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../static/dogwalk/data/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../static/dogwalk/data/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/dogwalk/data/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../static/dogwalk/data/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/dogwalk/data/favicon/favicon-16x16.png">
    <link rel="manifest" href="../static/css/dogwalk/data/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../static/dogwalk/data/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- 문서 정보-->

    <title>놀멍쉬멍 산책하멍</title> 

    <meta name = "author" content = "박희정, 성미래, 이해현" />
    <meta name = "description" content = "댕댕이 산책코스 추천 서비스" />
    <meta name = "keywords" content = "산책, 산책추천, 강아지산책, 강아지동반, 강아지" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/style1_home_video.css" />

  </head>


  
  <body>



    <!-- 페이지 제목 -->
    <header>
      <a href="html1_home.html">
        <img src="../static/dogwalk/data/walkingdog.png" title="WALKINGDOG"/></a>
      <nav>
    		<ul>
    			<span><a href="html2_search.html">Search</a></span>
    			<span><a href="html3_about.html">About</a></span>
    			<span><a href="html4_team.html">Team</a></span>
    		</ul>
    	</nav>
    </header>
  

    <!-- 영상 첨부 -->

    <main>
      <video controls autoplay>
        <source src="../static/dogwalk/data/runningdog.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video> 
    </main>


  <footer>
    Copyright (c) WALKINGDOGS All Rights Reserved.
  </footer>

</html>